# POSTGRESQL
POSTGRESQL_USER=..
POSTGRESQL_PASSWORD=..
POSTGRESQL_HOST=..
POSTGRESQL_PORT=..
POSTGRESQL_DB=..

# WEB SERVER
WEB_SERVER_HOST=..
WEB_SERVER_PORT=..

# JWT
SECRET_KEY=..
ALGORITHM=..
ACCESS_TOKEN_EXPIRE_SECONDS=..
REFRESH_TOKEN_EXPIRE_SECONDS=..

# REDIS
REDIS_HOST=..
REDIS_PORT=..
REDIS_DB=..

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=..
CLOUDINARY_API_KEY=..
CLOUDINARY_API_SECRET=..
