# macOS
.DS_Store

# Local dev environment variables
.env
.*/
*.pem

# Python
__pycache__/
*.pyc

# Reference md files
*.md
!README.md

# Testing
.coverage
htmlcov/

# Documentation (Sphinx build output)
docs/build/

# Exclude tests
!.github/
